@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parkinsans:wght@300..800&display=swap');

.navBar h3,button{
    font-family: 'Parkinsans';
}

.navBar {
    border: 4;
    background: linear-gradient(rgb(242, 143, 61),rgb(226, 143, 0));
}

@media screen and (max-width: 768px) {
    .navBar {
        width: 100%;
        left: 0;
        padding: 0 1rem;
    }

    .navBar h4 {
        font-size: 1.2rem;
    }
}

/* Add transition for mobile menu */
.navBar ul {
    transition: all 0.3s ease-in-out;
}